### Linear Regression Model

In [2]:
import pandas as pd
import numpy as np

In [3]:
# read in the data
data = pd.read_csv('../data/data_new.csv')
data.head()

,Unnamed: 0,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,yr_renovated,city,decade_built
0,0,376000.0,3.0,2.00,1340,1384,3.0,0,3,0,Seattle,2000
1,1,800000.0,4.0,3.25,3540,159430,2.0,0,3,0,Carnation,2000
2,3,324000.0,3.0,2.25,998,904,2.0,0,3,0,Seattle,2000
3,4,549900.0,5.0,2.75,3060,7015,1.0,0,5,0,Seattle,1970
4,5,320000.0,3.0,2.50,2130,6969,2.0,0,3,0,Maple Valley,2000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3873 entries, 0 to 3872
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    3873 non-null   int64
 1   price         3873 non-null   float64
 2   bedrooms      3873 non-null   float64
 3   bathrooms     3873 non-null   float64
 4   sqft_living   3873 non-null   int64
 5   sqft_lot      3873 non-null   int64
 6   floors        3873 non-null   float64
 7   waterfront    3873 non-null   int64
 8   condition     3873 non-null   int64
 9   yr_renovated  3873 non-null   int64
 10  city          3873 non-null   object
 11  decade_built  3873 non-null   int64
dtypes: float64(4), int64(7), object(1)
memory usage: 363.2+ KB

In [5]:
data.drop(columns = 'Unnamed: 0', axis = 1, inplace = True)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3873 entries, 0 to 3872
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         3873 non-null   float64
 1   bedrooms      3873 non-null   float64
 2   bathrooms     3873 non-null   float64
 3   sqft_living   3873 non-null   int64
 4   sqft_lot      3873 non-null   int64
 5   floors        3873 non-null   float64
 6   waterfront    3873 non-null   int64
 7   condition     3873 non-null   int64
 8   yr_renovated  3873 non-null   int64
 9   city          3873 non-null   object
 10  decade_built  3873 non-null   int64
dtypes: float64(4), int64(6), object(1)
memory usage: 333.0+ KB

In [42]:
data_num = data[['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot']]
data_num.head()

      price  bedrooms  bathrooms  sqft_living  sqft_lot
0  376000.0       3.0       2.00         1340      1384
1  800000.0       4.0       3.25         3540    159430
2  324000.0       3.0       2.25          998       904
3  549900.0       5.0       2.75         3060      7015
4  320000.0       3.0       2.50         2130      6969

In [43]:
data_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3873 entries, 0 to 3872
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price        3873 non-null   float64
 1   bedrooms     3873 non-null   float64
 2   bathrooms    3873 non-null   float64
 3   sqft_living  3873 non-null   int64
 4   sqft_lot     3873 non-null   int64
dtypes: float64(3), int64(2)
memory usage: 151.4 KB

#### Fitting a Model

In [44]:
from sklearn.model_selection import train_test_split

X = data_num.drop('price', axis = 1)
y = data_num['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)